[Unit]
Description=Arduinopinic daemon service
After=network-online.target
 
[Service]
Type=simple
 
User=pi
 
ExecStart=REPOCHEMIN/.venv/venvArduinopinic/bin/python REPOCHEMIN/manage.py runserver 0:8000
 
Restart=on-failure
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=300
 
[Install]
WantedBy=multi-user.target
